
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Banking_User.Models.AccountViewModel

<article>
    @using (Html.BeginForm("Account", "User", FormMethod.Post))
    {
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-text">@Html.ActionLink("Create Saving Account","Account", "User")</li>
                    <li class="navbar-text">@Html.ActionLink("Passbook", "Passbook", "User")</li>
                    <li class="navbar-text">@Html.ActionLink("Transaction", "Transaction", "User")</li>
                    <li class="navbar-text">@Html.ActionLink("Recipient", "Recipient", "User")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">Signed in as @Model.UserName</li>
                    <li class="navbar-text"><input type="button" value="Logout" onclick="location.href = '@Url.Action("Logout", "User")'"/></li>
                </ul>
            </div>
        </nav>

        <h3>Welcome To Our Banking Site</h3>
        if (Model.Message != null)
         {
             <script type="text/javascript">
                 window.onload = function() {
                     alert("@Model.Message");
                 };
             </script>
         }
    }
</article>
