
@{
    Layout = null;
}

@model ContactMVC_With_EF.ViewModel.HomeViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Add New", "Add", "Contact")</li>
                @if ((string)Session["Login"] != "Guest")
                {
                    <li>
                        <input type="button" value="Logout" onclick="location.href='@Url.Action("Logout", "Login")'" class="btn btn-default" />
                        @Html.Label((string)Session["Login"])
                    </li>
                }
                else
                {
                    <li> @Html.Label((string)Session["Login"])</li>
                }
            </ul>
        </div>
    </nav>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Name")
            </th>
            <th>
                @Html.Label("Number")
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>

        @foreach (var item in Model.ContactList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { name = item.Name.ToString() })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { name = item.Name.ToString() }, new { onclick = "return confirm('Do you want to Delete?')" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
